<footer class="footer">
  <div class="footer__container">
    <h4 class="footer__title">&#169 2023 | All Rights Reserved |</h4>
    <ul class="footer__list">
        <li class="footer__item">Developed with</li>
        <li class="footer__item">
            <svg class="footer__svg" width="16" height="16" fill="#FF6B08">
                <use href="./images/footer/footer-icons.svg#like"></use>
              </svg></li>
        <li class="footer__item">by<button class="footer__button js-open-modal" data-modal="3">GoIT Students</button></li>
    </ul>
  </div>
</footer>