<div class="content">
  <div class="films-gallery container">
    <h1 class="visually-hidden">Main Filmoteka</h1>
    <ul class="film-list"></ul>
    <ul class="film-list__watched visually-hidden">
      <li>
        <p style="color: white">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae
          nesciunt dolores earum ullam nulla. Voluptate maxime commodi odit
          veniam laboriosam?
        </p>
      </li>
      <li>
        <p style="color: white">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam quos
          hic, illum doloremque quaerat incidunt? Aperiam labore voluptatibus
          illo expedita?
        </p>
      </li>
      <li>
        <p style="color: white">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam quos
          hic, illum doloremque quaerat incidunt? Aperiam labore voluptatibus
          illo expedita?
        </p>
      </li>
      <li>
        <p style="color: white">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam quos
          hic, illum doloremque quaerat incidunt? Aperiam labore voluptatibus
          illo expedita?
        </p>
      </li>
      <li>
        <p style="color: white">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam quos
          hic, illum doloremque quaerat incidunt? Aperiam labore voluptatibus
          illo expedita?
        </p>
      </li>
      <li>
        <p style="color: white">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam quos
          hic, illum doloremque quaerat incidunt? Aperiam labore voluptatibus
          illo expedita?
        </p>
      </li>
    </ul>
    <ul class="film-list__queue visually-hidden">
      <li>
        <p style="color: white">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam quos
          hic, illum doloremque quaerat incidunt? Aperiam labore voluptatibus
          illo expedita?
        </p>
      </li>
      <li>
        <p style="color: white">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam quos
          hic, illum doloremque quaerat incidunt? Aperiam labore voluptatibus
          illo expedita?
        </p>
      </li>
      <li>
        <p style="color: white">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae
          nesciunt dolores earum ullam nulla. Voluptate maxime commodi odit
          veniam laboriosam?
        </p>
      </li>
    </ul>
  </div>
</div>
