<div class="backdrop-footer team__backdrop--hidden">
  <div class="team__modal">
    <button class="team__modal--close js-close-modal-footer">
      <svg class="team__icon team__icon--close" width="25" height="25">
        <use href="./images/footer/footer-icons.svg#close"></use>
      </svg>
    </button>

    <h1 class="team__title">ECMA<i class="team__shadow"></i>team</h1>

    <div class="team__wrapper">
      <div class="team__lead">
        <div class="team__member">
          <div class="team__circle">
            <img
              class="team__photo"
              src="./images/footer/team/Nataliia.jpg"
              alt="Nataliia"
            />
          </div>
          <a
            class="team__link"
            href="https://github.com/TommoBosha"
            target="_blank"
          >
            <svg class="team__github" width="25" height="25">
              <use href="./images/footer/footer-icons.svg#github"></use>
            </svg>
          </a>
          <p class="team__name">Nataliia</p>
          <p class="team__position">Team Lead</p>
        </div>

        <div class="team__member">
          <div class="team__circle">
            <img
              class="team__photo"
              src="./images/footer/team/Ihor.jpg"
              alt="Ihor"
            />
          </div>
          <a
            class="team__link"
            href="https://github.com/IhorKalyta93"
            target="_blank"
          >
            <svg class="team__github" width="25" height="25">
              <use href="./images/footer/footer-icons.svg#github"></use>
            </svg>
          </a>
          <p class="team__name">Ihor</p>
          <p class="team__position">Scrum Master</p>
        </div>
      </div>

      <div class="team__member">
        <div class="team__circle">
          <img
            class="team__photo"
            src="./images/footer/team/Antonina.jpg"
            alt="Antonina"
          />
        </div>
        <a
          class="team__link"
          href="https://github.com/Tonya-Ostapiuk"
          target="_blank"
        >
          <svg class="team__github" width="25" height="25">
            <use href="./images/footer/footer-icons.svg#github"></use>
          </svg>
        </a>
        <p class="team__name">Antonina</p>
        <p class="team__position">Developer</p>
      </div>

      <div class="team__member">
        <div class="team__circle">
          <img
            class="team__photo"
            src="./images/footer/team/Stanislav.jpg"
            alt="Stanislav"
          />
        </div>
        <a
          class="team__link"
          href="https://github.com/Stanislav-She"
          target="_blank"
        >
          <svg class="team__github" width="25" height="25">
            <use href="./images/footer/footer-icons.svg#github"></use>
          </svg>
        </a>
        <p class="team__name">Stanislav</p>
        <p class="team__position">Developer</p>
      </div>

      <div class="team__member">
        <div class="team__circle">
          <img
            class="team__photo"
            src="./images/footer/team/Nadiia.jpg"
            alt="Nadiia"
          />
        </div>
        <a
          class="team__link"
          href="https://github.com/Kozulkevych"
          target="_blank"
        >
          <svg class="team__github" width="25" height="25">
            <use href="./images/footer/footer-icons.svg#github"></use>
          </svg>
        </a>
        <p class="team__name">Nadiia</p>
        <p class="team__position">Developer</p>
      </div>

      <div class="team__member">
        <div class="team__circle">
          <img
            class="team__photo"
            src="./images/footer/team/Dmytro.jpg"
            alt="Dmytro"
          />
        </div>
        <a
          class="team__link"
          href="https://github.com/smokekans"
          target="_blank"
        >
          <svg class="team__github" width="25" height="25">
            <use href="./images/footer/footer-icons.svg#github"></use>
          </svg>
        </a>
        <p class="team__name">Dmytro</p>
        <p class="team__position">Developer</p>
      </div>

      <div class="team__member">
        <div class="team__circle">
          <img
            class="team__photo"
            src="./images/footer/team/Oleksyi.jpg"
            alt="Oleksii"
          />
        </div>
        <a class="team__link" href="https://github.com/Ryzh313" target="_blank">
          <svg class="team__github" width="25" height="25">
            <use href="./images/footer/footer-icons.svg#github"></use>
          </svg>
        </a>
        <p class="team__name">Oleksii</p>
        <p class="team__position">Developer</p>
      </div>

      <div class="team__member">
        <div class="team__circle">
          <img
            class="team__photo"
            src="./images/footer/team/Vladyslav.jpg"
            alt="Vladyslav"
          />
        </div>
        <a class="team__link" href="https://github.com/vldmru" target="_blank">
          <svg class="team__github" width="25" height="25">
            <use href="./images/footer/footer-icons.svg#github"></use>
          </svg>
        </a>
        <p class="team__name">Vladyslav</p>
        <p class="team__position">Developer</p>
      </div>
      <!-- <button class="trailer__button" type="button">
      WATCH<svg class="trailer__icon-youtube" width="45px" height="45px">
        <use xlink:href="#youtube">
          <symbol id="youtube" viewBox="0 0 32 32">
            <path
              fill="#ff0000"
              d="M31.327 8.273c-0.386-1.353-1.431-2.398-2.756-2.777l-0.028-0.007c-2.493-0.668-12.528-0.668-12.528-0.668s-10.009-0.013-12.528 0.668c-1.353 0.386-2.398 1.431-2.777 2.756l-0.007 0.028c-0.443 2.281-0.696 4.903-0.696 7.585 0 0.054 0 0.109 0 0.163l-0-0.008c-0 0.037-0 0.082-0 0.126 0 2.682 0.253 5.304 0.737 7.845l-0.041-0.26c0.386 1.353 1.431 2.398 2.756 2.777l0.028 0.007c2.491 0.669 12.528 0.669 12.528 0.669s10.008 0 12.528-0.669c1.353-0.386 2.398-1.431 2.777-2.756l0.007-0.028c0.425-2.233 0.668-4.803 0.668-7.429 0-0.099-0-0.198-0.001-0.297l0 0.015c0.001-0.092 0.001-0.201 0.001-0.31 0-2.626-0.243-5.196-0.708-7.687l0.040 0.258zM12.812 20.801v-9.591l8.352 4.803z"
            ></path>
          </symbol>
        </use></svg>TRAILER
    </button> -->
    </div>
  </div>
</div>
