<div class="team__backdrop team__backdrop--hidden" >
  
  <div class="team__modal modal modal3"  data-modal="3">
    
    <button class="team__modal--close js-modal-close">
      <svg class="team__icon team__icon--close" width="16" height="16">
        <use href="./images/footer/footer-icons.svg#close"></use>
      </svg>
    </button>
    <h1 class="team__title">ECMAteam</h1>
    <div class="team__wrapper">
      
        <div class="team__lead">
            <div class="team__member">
          <img class="team__photo" src="./images/footer/team/Nataliia.jpg" alt="Nataliia">
            <a class="team__link" href="https://github.com/TommoBosha" target="_blank">
              <svg class="team__github" width="25" height="25">
                <use href="./images/footer/footer-icons.svg#github"></use>
              </svg>
            </a>
            <p class="team__name">Nataliia</p>
          <p class="team__position">Team Lead</p>
        </div>

           <div class="team__member">
          <img class="team__photo" src="./images/footer/team/Ihor.jpg" alt="Ihor">
          
            <a class="team__link" href="https://github.com/IhorKalyta93" target="_blank">
              <svg class="team__github" width="25" height="25">
                <use href="./images/footer/footer-icons.svg#github"></use>
              </svg>
            </a>
            <p class="team__name">Ihor</p>
          <p class="team__position">Scrum Master</p>
        </div>
        </div>

            <div class="team__member">
          <img class="team__photo" src="./images/footer/team/Antonina.jpg" alt="Antonina">
          
            <a class="team__link" href="https://github.com/Tonya-Ostapiuk" target="_blank">
              <svg class="team__github" width="25" height="25">
                <use href="./images/footer/footer-icons.svg#github"></use>
              </svg>
            </a>
            <p class="team__name">Antonina</p>
          <p class="team__position">Developer</p>
        </div>

            <div class="team__member">
          <img class="team__photo" src="./images/footer/team/Stanislav.jpg" alt="Stanislav">
          
            <a class="team__link" href="https://github.com/Stanislav-She" target="_blank">
              <svg class="team__github" width="25" height="25">
                <use href="./images/footer/footer-icons.svg#github"></use>
              </svg>
            </a>
            <p class="team__name">Stanislav</p>
          <p class="team__position">Developer</p>
        </div>

          <div class="team__member">
          <img class="team__photo" src="./images/footer/team/Nadiia.jpg" alt="Nadiia">
          
            <a class="team__link" href="https://github.com/Kozulkevych" target="_blank">
              <svg class="team__github" width="25" height="25">
                <use href="./images/footer/footer-icons.svg#github"></use>
              </svg>
            </a>
            <p class="team__name">Nadiia</p>
          <p class="team__position">Developer</p>
        </div>

          <div class="team__member">
          <img class="team__photo" src="./images/footer/team/Dmytro.jpg" alt="Dmytro">
          
            <a class="team__link" href="https://github.com/smokekans" target="_blank">
              <svg class="team__github" width="25" height="25">
                <use href="./images/footer/footer-icons.svg#github"></use>
              </svg>
            </a>
            <p class="team__name">Dmytro</p>
          <p class="team__position">Developer</p>
        </div>


      <div class="team__member">
          <img class="team__photo" src="./images/footer/team/Oleksyi.jpg" alt="Oleksyi">
          
            <a class="team__link" href="https://github.com/Ryzh313" target="_blank">
              <svg class="team__github" width="25" height="25">
                <use href="./images/footer/footer-icons.svg#github"></use>
              </svg>
            </a>
            <p class="team__name">Oleksyi</p>
          <p class="team__position">Developer</p>
        </div>




          <div class="team__member">
          <img class="team__photo" src="./images/footer/team/Vladyslav.jpg" alt="Vladyslav">
          
            <a class="team__link" href="https://github.com/vldmru" target="_blank">
              <svg class="team__github" width="25" height="25">
                <use href="./images/footer/footer-icons.svg#github"></use>
              </svg>
            </a>
            <p class="team__name">Vladyslav</p>
          <p class="team__position">Developer</p>
        </div>

     
     
    </div>
  </div>
  
</div>
</div>
