<!-- <div class="auth-modal backdrop is-hidden">
    <div class="auth-modal-container">
        <button class="auth-modal__close-btn" data-auth-close>
            <svg width="30px" height="30px">
                <use href="./images/symbol-defs.svg#icon-close"></use>
            </svg>
        </button>
        <form class="auth-form" autocomplete="off">
            <label class="auth-form__label">
                Email
                <input type="email" class="auth-form__input" name="email" required />
            </label>
            <label class="auth-form__label">
                Password
                <input type="password" class="auth-form__input" name="password" required />
            </label>

            <div class="auth-form-buttons">
                <button type="submit" class="auth-form-button" data-auth-login>
                    Log In
                </button>
                <button type="button" class="auth-form-button auth-register" data-auth-register>
                    Register
                </button>
            </div>
        </form>
        <button class="auth-google-btn" data-auth-google>
            <svg class="auth-google-btn__icon" width="18px" height="18px">
                <use href="./images/symbol-defs.svg#icon-google"></use>
            </svg>
            <span class="auth-google-btn__text">Sign in with Google</span>
        </button>
    </div>
</div> -->
<!-- 
<ul class="navigation-buttons">
    <li class="js-signIn-btn">
        <button class="navigation-btn">
            <svg width="16" height="16">
                <use href="#"></use>
            </svg>
            &nbsp; Sign In
        </button>
    </li>
    <li class="js-signOut-btn visually-hidden">
        <button class="navigation-btn">
            Sign Out &nbsp;
            <svg width="16" height="16">
                <use href="#"></use>
            </svg>
        </button>
    </li>
</ul>
<p class="js-userStatus userStatus">Hello, user</p>
<button class="filters-show-button js-filterShow-btn" type="submit">
    <svg class="filters-show-button__icon">
        <use href="#"></use>
    </svg>
</button> -->
<!-- <li class="nav-list__item">
        <a href="#" class="nav-list__link" data-auth-open>Login</a>
      </li>
      <li class="nav-list__item hidden">
        <a href="#" class="nav-list__link" data-auth-sign-out> Sign out</a>
      </li> -->