<!-- <div class="backdrop_modal_film is-hidden" data-modal>
  <div class="modal_film">
    <button type="button" class="close-modal">
      <img
        src="./images/symbol-defs.svg#icon-close"
        width="14"
        height="14"
        alt="close"
        class="close-icon"
      />
    </button>
    <div class="modal-conteiner"></div>
  </div>
</div> -->

<div class="overlay is-hidden">
  <div class="overlay-bg"></div>
  <div class="overlay-scroll">
    <div class="modal-window">
      <div class="modal-close">
        <svg class="team__icon team__icon--close" width="25" height="25">
          <use href="./images/footer/footer-icons.svg#close"></use>
        </svg>
      </div>
      <div class="cinema-card">
        <img
          class="card-photo"
          src="https://avatars.mds.yandex.net/get-kinopoisk-image/4716873/86af9282-6384-4b4c-b5ee-0749823241c7/300x450"
          alt="movie cover"
        />
      </div>
      <div class="card-block">
        <p class="card-title">A FISTFUL OF LEAD</p>
        <div class="filter-list">
          <div class="filter-item">
            <p class="text-description">Vote / Votes</p>
            <p class="text-field">
              <span class="text-filed-rate" id="modal-vote">7.3</span> /
              <span class="text-field-total" id="modal-votes">1260</span>
            </p>
          </div>
          <div class="filter-item">
            <p class="text-description">Popularity</p>
            <p class="text-field" id="modal-popularity">100.2</p>
          </div>
          <div class="filter-item">
            <p class="text-description">Original Title</p>
            <p class="text-field" id="modal-original">A FISTFUL OF LEAD</p>
          </div>
          <div class="filter-item">
            <p class="text-description">Genre</p>
            <p class="text-field" id="modal-genre">Western</p>
          </div>
        </div>
        <div class="card-descriotion">
          <p class="text-title">About</p>
          <p class="text-content">
            <span id="modal-content" class="md-modal-content"></span>
            <span id="modal-less" class="modal-less"></span>
            <span class="read-more">Read More</span>
          </p>
        </div>
        <div class="card-button">
          <button class="card-btn btn-add-watched" type="submit">
            add to Watched
          </button>

          <button class="card-btn btn-add-queue" type="submit">
            add to Queue
          </button>
        </div>
        <div class="trailer__container">
          <button class="trailer__button" type="button">
            WATCH<svg class="trailer__icon-youtube" width="45px" height="45px">
              <use xlink:href="#youtube">
                <symbol id="youtube" viewBox="0 0 32 32">
                  <path
                    fill="#ff0000"
                    d="M31.327 8.273c-0.386-1.353-1.431-2.398-2.756-2.777l-0.028-0.007c-2.493-0.668-12.528-0.668-12.528-0.668s-10.009-0.013-12.528 0.668c-1.353 0.386-2.398 1.431-2.777 2.756l-0.007 0.028c-0.443 2.281-0.696 4.903-0.696 7.585 0 0.054 0 0.109 0 0.163l-0-0.008c-0 0.037-0 0.082-0 0.126 0 2.682 0.253 5.304 0.737 7.845l-0.041-0.26c0.386 1.353 1.431 2.398 2.756 2.777l0.028 0.007c2.491 0.669 12.528 0.669 12.528 0.669s10.008 0 12.528-0.669c1.353-0.386 2.398-1.431 2.777-2.756l0.007-0.028c0.425-2.233 0.668-4.803 0.668-7.429 0-0.099-0-0.198-0.001-0.297l0 0.015c0.001-0.092 0.001-0.201 0.001-0.31 0-2.626-0.243-5.196-0.708-7.687l0.040 0.258zM12.812 20.801v-9.591l8.352 4.803z"
                  ></path>
                </symbol>
              </use></svg
            >TRAILER
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
