.team__modal--close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 35px;
  height: 35px;
  text-decoration: none;
  fill: var(--footerGrey);
  background: none;
  padding: 4px;
  transition-property: fill border-color;
  transition-duration: 250ms;

  &:hover,
  &:focus {
    fill: var(--accentTextColor);
    transform: rotate(360deg);
  }
}

.team__modal {
  border-radius: 10px;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 300px;
  max-width: 430px;
  height: 550px;
  top: 30px;
  left: 50%;
  top: 30px;
  margin: 0;
  padding: 7px;
  background-color: var(--secondaryLightThemeBgColor);
  transition: transform var(--timingFunction);
  transform: translateX(-50%) scale(1);

  @include tablet {
    flex-direction: column;
    align-items: center;
    width: 600px;
    max-width: none;
    height: 600px;
    top: 10%;
    left: 50%;
  }

  @include desktop {
    flex-direction: column;
    align-items: center;
    width: 800px;
    max-width: none;
    height: 690px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
}

.team__title {
  margin-top: 13px;
  color: var(--accentTextColor);

  @include tablet {
    margin-top: 0px;
    margin-bottom: 30px;
  }

  .team__shadow {
    box-shadow: 10px 1px 800px 70px var(--colorShadow);
  }

  @include desktop {
    font-size: 35px;
    margin-top: 0px;
    margin-bottom: 45px;
  }
}

.team__wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 278px;
  gap: 10px;

  @include tablet {
    width: 490px;
    gap: 25px;
    margin-bottom: 35px;
  }

  @include desktop {
    width: 690px;
    gap: 45px;
    margin-bottom: 35px;
  }
}

.team__lead {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;

  @include tablet {
    gap: 25px;
  }

  @include desktop {
    gap: 45px;
  }
}

.team__member {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  transition: transform var(--timingFunction);

  &:hover,
  &:focus {
    transform: scale(1.15);
  }

  @include tablet {
    &:hover,
    &:focus {
      transform: scale(1.3);
    }
  }

  @include desktop {
    &:hover,
    &:focus {
      transform: scale(1.45);
    }
  }
}

.team__photo {
  height: 80px;
  border-radius: 50%;
  border: 2px solid var(--secondaryTextColor);

  @include tablet {
    height: 100px;
  }

  @include desktop {
    height: 120px;
  }
}

.team__github {
  margin-top: 3px;
  animation: spin 5000ms infinite;
  fill: #a6a6a6;

  &:hover,
  &:focus {
    fill: var(--accentTextColor);
  }

  @include tablet {
    margin-top: 4px;
    width: 30px;
    height: 30px;
  }

  @include desktop {
    margin-top: 6px;
    width: 35px;
    height: 35px;
  }
}

@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.team__name {
  font-size: 18px;
  font-weight: 600;
  color: var(--primaryTextDark);

  @include tablet {
    font-size: 19px;
  }

  @include desktop {
    font-size: 22px;
  }
}

.team__position {
  font-size: 15px;
  font-weight: 500;
  color: var(--footerGrey);

  @include desktop {
    font-size: 18px;
  }
}

.team__circle {
  width: 80px;
  height: 80px;
  border: none;
  outline: none;
  color: transparent;
  background: transparent;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 50%;

  @include tablet {
    width: 100%;
    height: 100%;
  }
}

.team__circle:before {
  content: '';
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(9px);
  width: calc(100% + 7px);
  height: calc(100% + 7px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 50%;
}

.team__circle:active {
  color: transparent;
}

.team__circle:active:after {
  background: transparent;
}

.team__circle:hover:before {
  opacity: 1;
}

.team__circle:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  left: 0;
  top: 0;
  border-radius: 50%;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/////////////////////////////////////////
// TRAILER FOR CARD
// #f00

.trailer__icon-youtube {
  margin-left: 10px;
  margin-right: 10px;

  &:hover,
  &:focus {
    fill: #000;
  }
}

.trailer__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 50px;
  border: 2px solid var(--secondaryTextColor);
  outline: none;
  font-weight: 700;
  font-size: 18px;
  color: var(--secondaryTextColor);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.trailer__button:hover,
.trailer__button:focus {
  color: #000;
}

.trailer__button:before {
  content: '';
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  // color: #000;
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.trailer__button:active {
  color: #000;
  background: transparent;
}

.trailer__button:active:after {
  background: transparent;
}

.trailer__button:hover:before {
  opacity: 1;
}

.trailer__button:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  // color: #000;
  filter: blur(5px);
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
