.pagination {
    display: flex;
    justify-content: center;
}

.pagination__list {
    display: flex;
}

.pagination__item {
    padding: 8px;
    margin: 8px;
}

.pagination__item--active {
    font-weight: 800;
    color: var(--accentTextColor);
}