.position {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
}

.tui-page-btn {
  color: var(--accentBtnColor);
  line-height: 39px;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  margin-right: 15px;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  transition: var(--timingFunction);

  &:hover,
  &:focus {
    background-color: #ff6b01;
    color: var(--secondaryLightThemeBgColor);
    transform: scale(1.15);
    box-shadow: rgba(136, 165, 191, 0.48) 2px 1px 6px 0px,
      rgba(255, 255, 255, 0.8) -2px -1px 6px 0px;
  }
}

.tui-is-selected {
  border: 1px solid #ff6b02;
  background-color: #ff6b02;
  color: var(--secondaryLightThemeBgColor);
  transition: var(--timingFunction);
  &:hover,
  &:focus {
    background-color: #ff6b01;
  }
}

.tui-first,
.tui-last {
  border: 1px solid #ff6b02;
}

.tui-ico-prev {
  width: 31px;
  background-position: -26px 0px;
  background: url(../images/pag_arrow/arrow-left-org.png) no-repeat 0 0;
  display: inline-block;
  vertical-align: middle;
  font-size: 0px;
  margin-top: 9px;
  margin-left: 3px;
  &:hover,
  &:focus {
    background: url(../images/pag_arrow/arrow-left-lite.png) no-repeat 0 0;
  }
}

.tui-ico-next {
  width: 31px;
  background-position: -26px 0px;
  background: url(../images/pag_arrow/arrow-right-org.png) no-repeat 0 0;
  display: inline-block;
  vertical-align: middle;
  font-size: 0px;
  margin-top: 9px;
  margin-left: 7px;
  &:hover,
  &:focus {
    background: url(../images/pag_arrow/arrow-right-lite.png) no-repeat 0 0;
  }
}
