//preload
.popcorn__gif {
  scale: 0.3;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
.spinner {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;

  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  background-image: linear-gradient(
    rgba(105, 1, 1, 0.7),
    rgba(234, 229, 221, 0.7)
  );

  @media screen and (min-width: 768px) {
    background-position: 54% 0%;
  }

  @media screen and (min-width: 1280px) {
    background-position: 0% 10%;
  }
}

.spinner__overlay {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media screen and (min-width: 768px) {
    transform: translate(-40%, -50%);

    left: 45%;
  }

  @media screen and (min-width: 1280px) {
    transform: translate(-40%, -10%);
    top: 100px;
    left: 46%;
  }
}

.spinner__pic {
  animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.spinner__text {
  margin-top: 0px;
  text-align: center;
  text-shadow: 3px 3px 5px rgb(43, 13, 13);
  // margin-top: 100px;

  @include text-design(500, 24px, calc(30 / 24), 0.03em);
  color: white;

  @media screen and (min-width: 768px) {
    @include text-design(700, 30px, calc(35 / 30), 0.03em);
  }

  @media screen and (min-width: 1280px) {
    @include text-design(700, 90px, calc(35 / 30), 0.03em);
    color: white;
  }
}

//===================== ORANGE SPINNER ASYNC =============//

@keyframes spinner-line-fade-more {
  0%,
  100% {
    opacity: 0; /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}

@keyframes spinner-line-fade-quick {
  0%,
  39%,
  100% {
    opacity: 0.25; /* minimum opacity */
  }
  40% {
    opacity: 1;
  }
}

@keyframes spinner-line-fade-default {
  0%,
  100% {
    opacity: 0.22; /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}

@keyframes spinner-line-shrink {
  0%,
  25%,
  100% {
    /* minimum scale and opacity */
    transform: scale(0.5);
    opacity: 0.25;
  }
  26% {
    transform: scale(1);
    opacity: 1;
  }
}

.spinner-backdrop {
  // background-color: rgba(175, 44, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.is-closed {
  display: none;
}
