.theme__switch-wrapper {
  display: flex;
  align-items: center;
  position: absolute;
  left: 75px;
  top: 13px;

  @include tablet {
    left: 47%;
    top: 34px;
  }

  @include desktop {
    left: 47%;
    top: 28px;
  }
}

.fas {
  color: var(--primaryTextLight);
}
.fa-sun,
.fa-moon {
  font-size: 30px;
  margin-right: 5px;
  @media screen and (max-width: 768px) {
    font-size: 25px;
  }
}
.icon__dark {
  color: var(--accentTextColor);
}
body.dark__theme .icon__dark {
  margin-right: 15px;
  margin-left: 0;
  animation: none;
}

body.dark__theme {
  background-color: var(--secondDarkBgColor);
}

body.dark__theme header,
body.dark__theme footer {
  box-shadow: 0px 1px 38px 12px var(--colorShadow);
  background-color: var(--secondDarkBgColor);
}

body.dark__theme .team__modal {
  background-color: var(--secondDarkBgColor);
  box-shadow: 0px 1px 38px 12px var(--colorShadow);
}

body.dark__theme .team__name {
  color: var(--primaryTextLight);
}

body.dark__theme .team__position {
  color: var(--secondaryTextColor);
}

label {
  position: relative;
  margin: 5px 0;
  cursor: pointer;
}
label input {
  appearance: none;
  display: none;
}
label span {
  position: relative;
  display: block;
  width: 40px;
  height: 20px;
  background: #222;
  border-radius: 40px;
  border: 1px solid rgb(79, 78, 78);
  box-shadow: inset 0 2px 15px rgba(0, 0, 0, 0.2),
    inset 0 2px 2px rgba(0, 0, 0, 0.2), inset 0 -1px 1px rgba(0, 0, 0, 0.2);

  @include tablet {
    width: 60px;
    height: 30px;
  }
  @include desktop {
    width: 80px;
    height: 40px;
  }
}
label .indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: linear-gradient(to bottom, #444, #222);
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5),
    inset 0 1px 1px rgba(255, 255, 255, 0.1);
  transition: 0.5s;
  transform: scale(0.9);

  @include tablet {
    width: 29px;
    height: 29px;
  }

  @include desktop {
    width: 40px;
    height: 40px;
  }
}
label input:checked ~ .indicator {
  left: 20px;

  @include tablet {
    left: 31px;
  }

  @include desktop {
    left: 40px;
  }
}
label .indicator::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5px;
  height: 5px;
  background: #f00;
  border-radius: 50%;
  transition: 0.5s;
  box-shadow: 0 0 2px #f00, 0 0 5px #f00, 0 0 10px #f00, 0 0 15px #f00,
    0 0 20px #f00, 0 0 25px #f00, 0 0 30px #f00, 0 0 40px #f00;
}
label input:checked ~ .indicator::before {
  background: #0f0;
  box-shadow: 0 0 2px #0f0, 0 0 5px #0f0, 0 0 10px #0f0, 0 0 15px #0f0,
    0 0 20px #0f0, 0 0 25px #0f0, 0 0 30px #0f0, 0 0 40px #0f0;
}

.moon {
  position: absolute;
  left: 0px;

  @include tablet {
    left: 1px;
    width: 25px;
    height: 25px;
  }

  @include desktop {
    left: 4px;
    width: 32px;
    height: 32px;
  }
}

.moon__deactive {
  fill: none;
  opacity: 0;
  pointer-events: none;
}
.moon__active {
  fill: yellow;
  opacity: 1;
  pointer-events: all;
}

.sun {
  position: absolute;
  left: 22px;

  @include tablet {
    width: 20px;
    height: 20px;
    left: 35px;
  }
  @include desktop {
    width: 27px;
    height: 27px;
    left: 46px;
  }
}

.sun__deactive {
  fill: none;
  opacity: 0;
  pointer-events: none;
}
.sun__active {
  fill: orange;
  opacity: 1;
  pointer-events: all;
}
