.header-container {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1280px;
    margin: 0 auto;

    @include tablet {
        padding-left: 32px;
        padding-right: 32px;
    }
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    margin-bottom: 40px;
}

.logo__link {
    display: flex;
    align-items: center;

    color: var(--primaryTextLight);
    transition: color var(--timingFunction);

    &:hover {
        color: var(--accentTextColor);
    }
}

.logo__icon {
    @include tablet {
        margin-right: 8px;
    }

    @include desktop {
        margin-right: 10px;
    }
}

.logo__text {
    display: none;

    font-weight: 500;
    font-size: 30px;
    line-height: 1.17;

    @include tablet {
        display: inline;
    }
}

.site-nav__list {
    display: flex;
    gap: 40px;
    list-style: none;
}

.site-nav__item {
    position: relative;
}

.site-nav__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    text-transform: uppercase;

    color: var(--primaryTextLight);

    transition: color var(--timingFunction);
}

.current::after {
    position: absolute;
    left: 0;
    bottom: -3px;

    content: '';
    width: 100%;
    height: 3px;
    background-color: var(--accentTextColor);
}

.no-current::after {
    position: absolute;
    left: 0;
    bottom: -3px;

    content: '';
    width: 100%;
    height: 3px;
    background-color: var(--accentTextColor);

    transition: all var(--timingFunction);
    transform: scaleX(0);
}

.no-current:hover.no-current:hover::after,
.no-current:focus.no-current:focus::after {
    transform: scaleX(1);
}

.no-current:hover,
.no-current:focus {
    color: var(--accentTextColor);
}