.header-library {
    padding-top: 15px;
    padding-bottom: 15px;
    max-width: 100%;
    min-height: 230px;

    background-color: var(--headerGradientColor);

    background-image: url('../images/mobile/header-library@1x.jpg');
    background-size: cover;

    @include retina-bgi {
        background-image: url('../images/mobile/header-library@2x.jpg');
    }

    @include tablet {
        padding-top: 40px;
        padding-bottom: 44px;
        height: 216px;

        background-image: url('../images/tablet/header-library@1x.jpg');

        @include retina-bgi {
            background-image: url('../images/tablet/header-library@2x.jpg');
        }
    }

    @include desktop {
        background-image: url('../images/desktop/header-library@1x.jpg');

        @include retina-bgi {
            background-image: url('../images/desktop/header-library@2x.jpg');
        }
    }
}

.container-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.watchedButton {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 128px;
    height: 44px;

    border: 1px solid var(--primaryTextLight);
    border-radius: 5px;
    color: var(--primaryTextLight);

    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    text-transform: uppercase;

    transition: all var(--timingFunction);

    &:hover,
    &:focus {
        background-color: var(--accentBtnColor);
        border-color: var(--accentBtnColor);
    }

    &--active {
        background-color: var(--accentBtnColor);
        border-color: var(--accentBtnColor);
    }

    @include tablet {
        width: 152px;
        margin-right: 32px;
    }
}

.queueButton {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 128px;
    height: 44px;

    border: 1px solid var(--primaryTextLight);
    border-radius: 5px;
    color: var(--primaryTextLight);

    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    text-transform: uppercase;

    transition: all var(--timingFunction);

    &:hover,
    &:focus {
        border-color: var(--accentBtnColor);
        background-color: var(--accentBtnColor);
    }

    &--active {
        background-color: var(--accentBtnColor);
        border-color: var(--accentBtnColor);
    }

    @include tablet {
        width: 152px;
    }
}